.Outer {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: content-box;
  border: var(--border-size) solid var(--white);
  background-color: var(--green);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}