body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dddddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --gray: rgba(0,0,0,.2);
  --red: #ff3633;
  --green: #2cab21;
  --blue: #3d87f5;
  --purple: #8d3df5;
  --yellow: #ffae00;
  --white: #fff;

  --medium-blue: #9ec3fa;

  --light-gray: rgba(0,0,0,.1);
  --lighter-gray: rgba(0,0,0,.05);
  --light-red: #ffcdcc;
  --light-orange: #fce2cf;
  --light-yellow: #ffefcc;
  --light-green: #d7f7d4;
  --light-blue: #e7f0fd;
  --light-purple: #e2cffc;

  --scale: 1;
  --x-offset: 0px;
  --framerate: 16.667px;
  --row-size: 3.5rem;
  --label-size: 7rem;
  --border-size: 2px;
  --marker-gap-size: calc(var(--framerate) * var(--scale));
}