.Tooltip {
  background-color: rgb(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  user-select: none;
}

.Highlight {
  pointer-events: none;
  border: 1px solid black;
}