.Work {
  background-color: var(--gray);
  position: absolute;
  height: 100%;
  z-index: 1;
}

.DidDeopt {
  background-color: var(--red);
}

.DidResume {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.DidYield {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.TypeRender {
  background-color: var(--blue);
}
.TypeRender:hover {
  opacity: 0.8;
}

.TypeCommit {
  background-color: var(--red);
}
.TypeCommit:hover {
  opacity: 0.8;
}

.TypeOther {
  background-color: var(--gray);
}
.TypeOther:hover {
  opacity: 0.8;
}

.YieldStyle {
  background: repeating-linear-gradient(
    135deg,
    var(--gray),
    var(--gray) 3px,
    var(--light-gray) 3px,
    var(--light-gray) 6px
  );
}